Src/sln/SampleData/SampleDataSource/SampleDataSource.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" xmlns:tns="Expression.Blend.SampleData.SampleDataSource" targetNamespace="Expression.Blend.SampleData.SampleDataSource" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SampleDataSource" type="tns:SampleDataSource" />
  <xs:complexType name="SampleDataSource">
    <xs:sequence>
      <xs:element name="SampleList" type="tns:SampleList" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SampleList">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="SampleListItem" type="tns:SampleListItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SampleListItem">
    <xs:attribute blend:FormatParameters="2" name="ID" type="xs:double" />
    <xs:attribute blend:Format="Lorem ipsum" blend:FormatParameters="4,8" name="Name" type="xs:string" />
    <xs:attribute name="Look" type="tns:Basic-Image" />
    <xs:attribute name="Done" type="xs:boolean" />
  </xs:complexType>
  <xs:simpleType name="Basic-Image">
    <xs:restriction base="xs:anyURI" />
  </xs:simpleType>
</xs:schema>